# Frontend app
app.codehustle.space {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key
    encode zstd gzip
    reverse_proxy frontend:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}

# API endpoint
api.codehustle.space {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key
    encode zstd gzip
    reverse_proxy backend:8081 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}
